/*declare global variables for colors that are most commonly used*/
:root{
  --back-color:hsl(40, 10%, 7%);
  --font-color:rgba(237, 179, 120,1);
  --contentb4-color:rgba(0,0,0,0);
  --navhover-color:rgba(237, 179, 120,0.7);
}

body{
  text-align: center;
  background-color: var(--back-color);
  font-family:Quicksand;
}

header{
  color:var(--font-color);
  text-align: center;
  text-shadow: 7px 5px black;
}

nav{
  text-align: center;
  padding: 10px;
  margin: 10px;
}

nav>a{
  padding: 10px;
  margin: 10px;
  color:var(--font-color);
  text-decoration: none;
}

nav>a:hover{
  background-color:var(--navhover-color);
  color:black;
}

/*displayed as inline block because sections sit side by side*/

/*psoition relative because content (description) is position: absolute, to contain the absolute child elements in the parent container*/
section{
  display: inline-block;
  position:relative;
  overflow:hidden;
  width:40%;
  height:350px;
}

img{
  height: 100%;
}

/*position absolute because we want the description to appear on top of image*/
.content{
  position: absolute;
  padding:30px;
  height:290px;
  text-align: center;
  background-color:var(--contentb4-color);
  color:var(--contentb4-color);
}

.content:hover{
  animation-name:content-transition;
  animation-duration:0.5s;
  animation-fill-mode: forwards;
}

@keyframes content-transition {
  100%{
    background-color:rgba(0,0,0,0.8);
    color:var(--font-color);
  }
}

/*media queries for screen resolution under 800px*/
@media (max-width:800px){

/*sections displayed as block instead of inline-block*/
  section{
    display: block;
    width:100%;
  }

}
